- if @posts && @posts.any?
  %h2
    Your posts:
  - @posts.each do |post|
    %p
      = post['story'] || post['message'] || 'No title'
      %strong
        = post['likes']['summary']['total_count']
        Likes
  - if @posts.previous_page.paging
    = link_to 'Previous', url_for(:page => @posts.previous_page_params)
  - if @posts.next_page.paging
    = link_to 'Next', url_for(:page => @posts.next_page_params)
